@font-face {
    font-family: 'netmarbleB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.1/netmarbleB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    /* Color */

    --background-color: #F0F4F5;
    --white-color: #ffffff;
    --black-color: #140a00;
    --light-black-color: #4E425C;
    --blue-color: #7EA0E0;
    --pink-color:#FDBCE1;
    --grey-dark-color:#B0A8B9;
    --grey-light-color: #D9D9D9;
    --light-purple-color: #E1D2F2;
    --dark-purple-color: #C8A0F5;
    --brown-color: #B1895E;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'netmarbleB';
    background-color: var(--background-color);
}

ul {
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--grey-light-color);
}

.menu a:hover {
    color: var(--brown-color);
    cursor: pointer;
    transition: ease-in-out 0.2s;
}

.menu p:nth-child(1) {color: var(--brown-color);}

.LoginAndSignup a {
    color: var(--black-color);
}

.logo a {
    color: var(--black-color);
}

button,
button:focus {
    border: none;
    cursor: pointer;
    outline: none;
    background-color:transparent;
}


/* Header */

header {
    display: flex;
    justify-content: space-around;    
    padding: 50px 20px 8px 20px;
    color: var(--black-color);
}

header .logo {
    font-size: 25px;
}

.logo a {
    color: var(--black-color);
}

.menu {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.menu li{
    padding: 8px 12px;
}


/* TextBox */

.TextBox {
    display: flex;
    justify-content:center;
    align-items: center;
}

.TextBox .communityBox {
    background-color: var(--white-color);
    width: 450px;
    height: 305px;
    margin: 20px;
}

.TextBox .randomAndNotice {
    flex-direction: column;
}

.TextBox .randomBox {
    background-color: var(--white-color);
    width: 225px;
    height: 150px;
    margin: 5px;
}

.TextBox .notice {
    background-color: var(--white-color);
    width: 225px;
    height: 150px;
    margin: 5px;
}


/* Translation And Community */

.transname {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: -50px;
    color: var(--light-black-color);
}

.transname .m {
    margin-right: 100px;
}

.TranslationAndCommunity {
    background-color: var(--light-purple-color);
    margin-bottom: 30px;
    width: 100%;
    height: 1200px;
    position: relative;
}

.transWriteBox {
    padding-top: 30px;
}

.lang {
    display: flex;
    background-color: var(--dark-purple-color);
    color: var(--white-color);
    width: 500px;
    height: 50px;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}

.transWrite {
    width: 500px;
    height: 250px;
    color: var(--light-black-color);
    background-color: var(--white-color);
    /* border-bottom: 1px solid var(--light-black-color); */
    font-size: 20px;
    margin: auto;
}

.transWrite input {
    width: 500px;
    height: 250px;
    border: none;
}

.introicon {
    color: var(--grey-dark-color);
    padding-top: 5px;
    margin-left: 505px ;
}

.introicon i {
    padding-left: 10px;
}

.introicon button {
    color: var(--grey-dark-color);
}

.Translation {
    display: flex;
    margin: 10px auto;
    padding: 20px;
    padding-top: 50PX;
}

.papago {
    flex:1;
    width:30%;
    box-sizing: border-box;
    height: 260px;
    background: var(--white-color);
    margin: 10px;
    padding: 10px;

}

.google {
    flex:1;
    width:30%;
    box-sizing: border-box;
    height: 260px;
    background: var(--white-color);
    margin: 10px;
    padding: 10px;
}

.yandex {
    flex:1;
    width:30%;
    box-sizing: border-box;
    height: 260px;
    background: var(--white-color);
    margin: 10px;
    padding: 10px;
}

.Translation button {
    width:5%;
    font-size: 30PX;
}

.Community {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.TranslationAndCommunity .Community .CommunityTitle {
    font-size: 25px;
    margin: 20px;
}

.TranslationAndCommunity .Community .NewPost {
    color: var(--light-black-color);
    justify-content: center;
    align-items: center;
    background-color: var(--grey-dark-color);
    width: 132px;
    height: 27px;
    margin: 20px;
    border-radius: 30px;
}

.TranslationAndCommunity .Community .NewPost .newpost {
    text-align: center;
    margin-top: 2px;
}

/* .TranslationAndCommunity .Community .communityText {
    width: 100%;
    height: 248px;
    background-color: var(--white-color);
} */

.communityText input[id*="slide"] {
    display: none;
}

.communityText .slidewrap {
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.communityText .slidelist {
    white-space: nowrap;
    font-size: 0;
}

.communityText .slidelist > li {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    /* slide 넘어가는 빠르기 조절 */
    transition: all .7s;
}

.communityText .slidelist li > a {
    display: block;
    position: relative;
}

.communityText .slidelist li > a img {
    width: 1100px;
    height: 248px;
}

.communityText .slidelist label {
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    padding: 50px;
    cursor: pointer;
}

.communityText .slidelist .left {
    left: 30px;
    background: url('../HOME/image/angle-left-solid.svg') center center / 100% no-repeat;
    background-size: 30px;
}

.communityText .slidelist .right {
    right: 30px;
    background: url('../HOME/image/angle-right-solid.svg') center center / 100% no-repeat;
    background-size: 30px;
}

.communityText [id="slide01"]:checked ~ .slidewrap .slidelist > li {transform: translateX(0%);}
.communityText [id="slide02"]:checked ~ .slidewrap .slidelist > li {transform: translateX(-100%);}
.communityText [id="slide03"]:checked ~ .slidewrap .slidelist > li {transform: translateX(-200%);}


/* About us */

.AboutUsTitle {
    font-size: 25px;
    margin: 50px;
    margin-bottom: 60px;
}

img {
    width: 250px;
    height: 250;
    margin-top: 20px;
    margin-left: 50px;
}

.item {
    display: flex;
    margin: 0px 0px 40px 0px;
}

.item .info {
    display: flex;
    flex-direction: column;
    padding: 0px 40px 40px 40px;
    margin-top: 20px;
}

.item .info .name {
    font-size: 22px;
    margin-bottom: 18px;
}

.item .info .expla {
    font-size: 12px;
    padding: 10px 0px 0px 0px;
}

.item .info .expla p {
    padding: 10px 0px 10px 0px;
}

/* Copyright And SNS */

footer {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.copyright {
    display: flex;
    margin-right: 20px;
    font-size: 13px;
}

.actions{ 
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 60px 20px 20px 20px;

}

.actions li {
    font-size: 13px;
    padding: 0px 3px 0px 7px;  
}