@font-face {
    font-family: 'netmarbleB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.1/netmarbleB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    /* Color */

    --background-color: #F0F4F5;
    --white-color: #ffffff;
    --black-color: #140a00;
    --light-black-color: #4E425C;
    --blue-color: #7EA0E0;
    --pink-color:#FDBCE1;
    --grey-dark-color:#B0A8B9;
    --grey-light-color: #D9D9D9;
    --light-purple-color: #E1D2F2;
    --dark-purple-color: #C8A0F5;
    --brown-color: #B1895E;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'netmarbleB';
    background-color: var(--background-color);
}

ul {
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--grey-light-color);
}

.menu a:hover {
    color: var(--brown-color);
    cursor: pointer;
    transition: ease-in-out 0.2s;
}

.menu p:nth-child(1) {color: var(--brown-color);}

.LoginAndSignup a {
    color: var(--black-color);
}

button,
button:focus {
    border: none;
    cursor: pointer;
    outline: none;
    background-color:transparent;

}

/* Header */

header {
    display: flex;
    justify-content: space-around;
    padding: 50px 20px 8px 20px;
    background-color: var(--background-color);
    color: var(--black-color);
}

header .logo {
    font-size: 25px;
}

.logo a {
    color: var(--black-color);
}

.menu {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.menu li{
    padding: 8px 12px;
}


/* Writing */

.writing {
    padding: 100px;
    display: flex;
    background-color: var(--background-color);
    justify-content: space-between;
    
}

.writing .writingImg img {
    width: 140px;
    height: 140px;
    border-radius: 100%;
    margin: 20px;
    flex:1;
    box-sizing: border-box;
}

.writing .writingSpace {
    width: 80%;
    height: 170px;
    background-color: var(--white-color);
    flex:5;
    box-sizing: border-box;
}

.writing .writingSpace input {
    border: none;
    width: 1055px;
    height: 150px;
    margin: 10px;
}

.writing button {
    font-size: 17px;
    flex: 0.3;
    box-sizing: border-box;
}


/* Board */

.board {
    background-color: var(--light-purple-color);
    height: 1000px;
    width: 1300px;
    margin-right: 100px;
    margin-left: 100px;
    display: flex;
    padding: 30px; 
}

.board .boardTitle {
    width: 80%;
    height: 10%;
    margin: 10px 10px 10px 60px;
    background-color: var(--white-color);
    padding-top: 40px;
    padding-left: 20px;
}

.board .boardDateView {
    margin: 50px 0px 10px 30px;
}


/* Subscribe */

.Subscribe .SubscribeTitle {
    margin-top: 50px;
    margin-left: 100px;
    margin-bottom: 30px;
    font-size: 25px;
}

.Subscribe .SubscribeImg {
    margin-left: 80px;
}

.Subscribe img {
    width: 140px;
    border-radius: 100%;
    margin: 20px;
}


/* Copyright And SNS */

footer {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.copyright {
    display: flex;
    margin-right: 20px;
}

.actions{ 
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 60px 20px 20px 20px;

}

.actions li {
    padding: 0px 3px 0px 7px;  
}