@font-face {
    font-family: 'netmarbleB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.1/netmarbleB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    /* Color */

    --background-color: #F0F4F5;
    --white-color: #ffffff;
    --black-color: #140a00;
    --light-black-color: #4E425C;
    --blue-color: #7EA0E0;
    --pink-color:#FDBCE1;
    --grey-dark-color:#B0A8B9;
    --grey-light-color: #D9D9D9;
    --light-purple-color: #E1D2F2;
    --dark-purple-color: #C8A0F5;
    --brown-color: #B1895E;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'netmarbleB';
    background-color: var(--background-color);
}

ul {
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--grey-light-color);
}

.menu a:hover {
    color: var(--brown-color);
    cursor: pointer;
    transition: ease-in-out 0.2s;
}

.menu p:nth-child(1) {color: var(--brown-color);}

.LoginAndSignup a {
    color: var(--black-color);
}

button,
button:focus {
    border: none;
    cursor: pointer;
    outline: none;
    background-color:transparent;
}

/* Header */

header {
    display: flex;
    justify-content: space-around;
    padding: 50px 20px 8px 20px;
    background-color: var(--background-color);
    color: var(--black-color);
}

header .logo {
    font-size: 25px;
}

.logo a {
    color: var(--black-color);
}

.menu {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.menu li{
    padding: 8px 12px;
}


/* Q & A */

.qa {
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
}

.qaHeader {
    margin-top: 100px;
    width: 1300px;
    height: 50px;
    background-color: var(--dark-purple-color);
    display: flex;
    color: var(--white-color);
    justify-content: center;
    align-items: center;
}

.qaHeader .qaTitle {
    width: 60%;
    padding-left: 300px;
}

.qaHeader .qawriter {
    width:15%;
}

.qaHeader .qaDate {
    width: 5%;
}

.qaBoard {
    width: 1300px;
    height: 1000px;
    background-color: var(--light-purple-color);
    padding-top: 50px;
}

.qusetion {
    width: 1240px;
    height: 60px;
    background-color: var(--white-color);
    margin:0 auto; 
}

.answer {
    width: 1100px;
    height: 60px;
    background-color: var(--white-color);
    margin:0 auto; 
    margin-top: 20px;
    margin-left: 170px;
    padding-top: 20px;
}

.ansre {
    width: 52px;
    height: 21px;
    background-color: var(--grey-light-color);
    border-radius: 10px;
    text-align: center;
    margin-left: 10px;
}

/* Search */

.Search {
    display: flex;
    margin:0 auto; 
    /* margin-left: 109px; */
    width: 1300px;
    background-color: var(--light-purple-color);
    padding: 20px;
}

.select {
    width: 87px;
    height: 37px;
    background-color: var(--white-color);
    border-radius: 10px;
    border-style: none;
}

.text {
    width: 384px;
    height: 37px;
    border-radius: 10px;
    border-style: none;
    margin-left: 15px;
    margin-right: 15px;
}

.searchicon {
    font-size: 23px;
    margin-right: 15px;
}

.writing {
    width: 87px;
    height: 37px;
    border-radius: 10px;
    color: var(--white-color);
    background-color: var(--light-black-color);
    margin-left: 650px;
}

.writing:focus,
.writing:hover {
    background: var(--white-color);
    cursor: pointer;
    color: var(--dark-purple-color);
    text-transform: uppercase;
    transition: ease-in-out 0.2s;
}

/* Copyright And SNS */

footer {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.copyright {
    display: flex;
    margin-right: 20px;
}

.actions{ 
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 60px 20px 20px 20px;

}

.actions li {
    padding: 0px 3px 0px 7px;  
}